/* resultCard.css */

.result-card {

    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .result-card:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect on hover */
  }


  .highlighted {
    background-color: #ffc107; 
    font-weight: bold; 

  }
