/* resultCard.css */


.items{
  border-top: rgba(0, 0, 0, 0.281) solid 0.2px;
 
  margin: 0;
  padding: 10px;
}
  .highlighted {
    background-color: #ffc107; 
    font-weight: bold; 

  }
.result-card:nth-child(odd){
  background-color:#0000000e;
}
.result-card:nth-child(even){
  background-color: #ffffff;
}

.result-card p{
  font-size: smaller;
  color: rgb(25, 104, 207);
  text-decoration: underline;
}