@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.board{
    display: flex;
    margin: 10px;
}
.checkbox{
    width: 25%;
    margin: 10px;
}
.checkbox label {
    display: block;
    margin: 10px;
}
.result{
    width: 75%;
    margin: 10px;
   
}
.result li{
 font-size: 2em;
 list-style: none;
 margin-bottom: 10px;
}
.result a{
    text-decoration: none;
    
   }
   .pagination{
    display: flex;
   width: 75%;
    overflow-x: scroll;
    margin: 20px
  
   }


  .dropdown-item input{
    margin-right:8px;
  }