@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/*pagination*/
.pagination {
  display: flex;
  justify-content: center;
 
  margin-top: 20px;
}


.pagination{
  border-radius: 4px;
}
.checklist{
  margin-left:20px
}

.dropdown-item label{
  font-weight: 100;
}
.left{
text-align: end;
}
  .dropdown-item input{
    margin-right:8px;
    
  }
.showmore{
  font-size: small;
}
.badge{
  padding: 2px 6px; /* Adjust padding for smaller size */
  font-size: 12px; /* Adjust font size for smaller size */
  font-weight: 600;
}

.feedback-screen{
  font-size: smaller;
  display:block;
}
.feedback-mobile {
  font-size: smaller;
  display:none;
  }
@media only screen and (max-width: 1000px) {
  .feedback-screen {
  display: none;
  }
  .feedback-mobile {
    display:block;
    padding-bottom: 20px;
    }
}