@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.result{
    width: 75%;
    margin: 10px;
   
}
.result li{
 font-size: 2em;
 list-style: none;
 margin-bottom: 10px;
}
.result a{
    text-decoration: none;
    
   }
/*pagination*/
.pagination {
  display: flex;
  justify-content: center;
 
  margin-top: 20px;
}


.pagination{
  border-radius: 4px;
}

.feedback{
  font-size: smaller;
}

 .button{
  border: none;
  width: 50px;
  height: 50px;
  background-color: rgb(230, 230, 230);
  color: rgb(36, 58, 158);
 } 
 .button .active{

  background-color: rgb(36, 58, 158) ;
  color: rgb(255, 255, 255);;
 } 
.dropdown-item label{
  font-weight: 100;
}

  .dropdown-item input{
    margin-right:8px;
    
  }

.badge{
  padding: 2px 6px; /* Adjust padding for smaller size */
  font-size: 12px; /* Adjust font size for smaller size */
  font-weight: 600;
}